.hidden{
    display: none;
}
.navlink{
    margin:2px;
    padding:.5rem;
}
.navbar{
    padding:.5rem;
    background-color: rgb(189, 229, 245);
}
#location{
    float: right;
}
.table-container {
    max-height: 300px !important; /* set a fixed height */
    overflow: auto !important; /* add a scrollbar if needed */
}
.orderInput{
    width: 43px;
}