.hidden{
    display: none;
}
.navlink{
    margin:2px;
    padding:.5rem;
}
.navbar{
    padding:.5rem;
    background-color: rgb(189, 229, 245);
}
#location{
    float: right;
}
.table-container {
    max-height: 300px !important; /* set a fixed height */
    overflow: auto !important;
    border: thin solid darkgray;
    margin: 3px 1px;
}
.table-itemcontainer{
    max-height: 300px !important; /* set a fixed height */
    overflow: auto !important;
    border: thin solid darkgray;
}

.table-invcontainer{
    max-height: 600px !important; /* set a fixed height */
    overflow: auto !important;
    border: thin solid darkgray;
}
.orderInput{
    width: 43px;
}



#radioBtn{
    position: absolute; /* position absolutely within parent */
    right: 0;
    top:1rem;
}
#headerContainer{
    position: relative;
}
.selected{
    background-color: #a1f6a6;
}
.orderInfo{
    margin: 0;
}
#viewContainer{
    position: relative;
}
#closeButton{
    position: absolute; /* position absolutely within parent */
    right: 0;
    top:1rem;
}
.blue{
    background-color: lightblue !important;
}