.hiddenAc{
    display: none;
}
.navlinkAc{
    margin:2px;
    padding:.5rem;
}
.navbarAC{
    padding:.5rem;
    background-color: rgb(189, 229, 245);
}
#locationAC{
    float: right;
}
.table-containerAc{
    max-height: 900px !important; /* set a fixed height */
    overflow: auto !important;
    border: thin solid darkgray;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 2px;
}
.table-itemcontainerAC{
    max-height: 300px !important; /* set a fixed height */
    overflow: auto !important;
    border: thin solid darkgray;
}

.table-invcontainerAC{
    max-height: 600px !important; /* set a fixed height */
    overflow: auto !important;
    border: thin solid darkgray;
}
.orderInputAC{
    width: 43px;
}



#radioBtnAC{
    position: absolute; /* position absolutely within parent */
    right: 0;
    top:1rem;
}
#headerContainerAc{
    position: relative;
}
.selectedAc{
    background-color: #a1f6a6;
}
.orderInfoAc{
    margin: 0;
}
#viewContainerAC{
    position: relative;
}
#closeButtonAc{
    position: absolute; /* position absolutely within parent */
    right: 0;
    top:1rem;
}
.blueAc{
    background-color: lightblue !important;
}